name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: build fuckin sampac.so 
      run: sudo docker build -f Dockerfile -t samp_ac_v2:latest .
